---
layout: default
title: 标签
permalink: tags.html
---

<link rel="stylesheet" href="{{ '/assets/css/tags.css' | relative_url }}">
<script src="{{ '/assets/js/tags.js' | relative_url }}" defer></script>

<div class="tags-page">
  <h1>标签</h1>
  
  <div class="tag-cloud">
    {% assign tags_list = site.tags | sort %}
    {% for tag in tags_list %}
    <a href="#{{ tag[0] | slugify }}" class="tag-link" data-tag="{{ tag[0] | slugify }}">{{ tag[0] }}</a>
    {% endfor %}
  </div>

  {% for tag in tags_list %}
  <div id="{{ tag[0] | slugify }}" class="tag-section">
    <h2>{{ tag[0] }}</h2>
    <ul>
      {% assign posts = tag[1] | sort: 'date' | reverse %}
      {% for post in posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date: "%Y年%m月%d日" }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div> 